body{

}

p{

}

h3{

}

li{

}

#header{
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    border: solid 8px black;
    text-align:center;
}

#header h1{

}

#leftnav{
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    border: solid 8px black;
    float:left;
    text-align:center;
}

ul{
    list-style-type: none;
    padding-left: 0px;
}

#leftnav img{

}

#leftnav ul{

}

#leftnav h3{

}

#content{
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    border: solid 8px black;
    text-align:center;
}

#footer{
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    border: solid 8px black;
    text-align:center;
}

ul{
    list-style-type: none;
    padding-left: 0px;
}