body{

}

p{
    font-size:60px;font-family:"Arial";color:#FFFFFF;font-weight:bold;
 
}

h3{
        font-size:40px;font-family:"Passion One";color:#FFBC00;margin-bottom:0px;
}

li{

}

#header{
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    border: solid 8px black;
    text-align:center;
}

#header h1{
    font-size:60px;font-family:"Passion One";color:#FFBC00;font-weight:bold;
}

#leftnav{
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    border: solid 8px black;
    float:left;
    text-align:center;
}

ul{
    list-style-type: none;
    padding-left: 0px;
    padding-bottom: 8px;
}

#leftnav img{

}

#leftnav ul{

}

#leftnav h3{

}

#content{
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    border: solid 8px black;
    text-align:center;
    padding: 15px;
}

#footer{
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    border: solid 8px black;
    text-align:center;
}

ul{
    list-style-type: none;
    padding-left: 0px;
}